@model IEnumerable<RightCareSite.Models.DataBase.Rsal_tbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>مرتجعات العملاء</h2>

<p>
    @Html.ActionLink("مرتجع جديد", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
           العميل
        </th>

        <th>
              التاريخ
        </th>
        <th>
           رقم الفاتورة
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Cust_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.ActionLink("نفاصيل", "Details", new { id = item.Id }) |
            @Html.ActionLink("طباعة", "ReInvoice", new { id = item.Id })
        </td>
    </tr>
}

</table>
