
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="col-lg-2">
    <h1 class="my-4" style="font-family:'Times New Roman'">التقارير</h1>
    <div class="list-group">
        <a href="@Url.Action("Users", "Home")" class="list-group-item">بيع جديد</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
    </div>

</div>

<div class="col-lg-2">
    <h1 class="my-4" style="font-family:'Times New Roman'">المبيعات</h1>
    <div class="list-group">
        <a href="@Url.Action("AddOrder", "Order")" class="list-group-item">بيع جديد</a>
        <a href="@Url.Action("AddReturn","Order")" class="list-group-item">مرتجع جديد</a>
        <a href="@Url.Action("Index","Sal_tbl")" class="list-group-item">فواتير المبيعات</a>
        <a href="@Url.Action("Index", "Rsal_tbl")" class="list-group-item">فواتير المرتجعات</a>
    </div>

</div>
<div class="col-lg-2">
    <h1 class="my-4" style="font-family:'Times New Roman'">المشتريات</h1>
    <div class="list-group">
        <a href="@Url.Action("Users", "Home")" class="list-group-item">بيع جديد</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
    </div>

</div>
<div class="col-lg-2">
    <h1 class="my-4" style="font-family:'Times New Roman'">العملاء</h1>
    <div class="list-group">
        <a href="@Url.Action("Users", "Home")" class="list-group-item">بيع جديد</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
    </div>
</div>
<div class="col-lg-2">
    <h1 class="my-4" style="font-family:'Times New Roman'">الموردين</h1>
    <div class="list-group">
        <a href="@Url.Action("Users", "Home")" class="list-group-item">بيع جديد</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
    </div>

</div>
<div class="col-lg-2">
    <h1 class="my-4" style="font-family:'Times New Roman'">المخزن</h1>
    <div class="list-group">
        <a href="@Url.Action("Users", "Home")" class="list-group-item">بيع جديد</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
    </div>

</div>




