@model RightCareSite.Models.DataBase.Product_Tble

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>بيانات صنف</h2>

<div align="right">
    <hr />
    <dl class="dl-horizontal">
        <div class="col-md-7">

            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Category_Tbl.Category)
            </dd>
            <p>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        </p>

        <p>
        <dd>
            @Html.DisplayFor(model => model.SelPrice)
        </dd>
        </p>
</div>
        <div class="col-md-5">
            <dt>
                <p>كود الصنف</p>   
             </dt>
            <dt>
                <p>نوع الصنف</p>
            </dt>
            <dt>
                <p> الصنف</p>
            </dt>
            <dt>
                <p>سعر البيع</p>
            </dt>
        </div>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("العودة لقائمة الاصناف", "Index")
</p>
