@model RightCareSite.Models.DataBase.Sub_Acount

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>هل متاكد من حذف القيد؟</h3>
<div>
    <h4>Sub_Acount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Suply_Tbl.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suply_Tbl.Name)
        </dd>

        
        

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

       

        <dd>
            @Html.DisplayFor(model => model.EslNo)
        </dd>

       

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> 
            @Html.ActionLink("رجوع", "Index")
        </div>
    }
</div>
