@model IEnumerable<RightCareSite.Models.DataBase.Sub_Acount>
@using RightCareSite.Models

@{

    ViewBag.Title = "SubAcount";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
    var cust = Model.Select(x => x.Suply_Tbl.Name).FirstOrDefault();
    var total = Model.Sum(x => x.Amount);
    var custId = Model.Select(x => x.Suply_TblId).FirstOrDefault();


}
<h3>كشف حساب موزد</h3>
<br />

<h3>

    <p align="center">
        <a href="@Url.Action("Details","Suply_Tbl",new { id=custId})">@cust </a>
    </p>


</h3>
<table class="table table-bordered">
    <tr>

        <th>
            رقم فاتورة الشراء
        </th>
        <th>
            رقم المرتجع
        </th>

        <th>
            رقم التسديد
        </th>
        <th>
            المبلغ
        </th>
        <th>
            التاريخ
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ByNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RbyNo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EslNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>

        </tr>
    }

</table>
<div align="right"><h3>@total</h3></div><div align="left"><a href="@Url.Action("Sub_Account","Suply_tbl",new { id=custId})"><h3>طباعة</h3> </a></div>

