<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Right Care", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("الرئيسية", "Users", "Home")</li>
                    <li>@Html.ActionLink("المندوبين", "Index", "MND_TBL")</li>
                    <li>@Html.ActionLink("العملاء", "Index", "CUST_TBL")</li>
                    <li>@Html.ActionLink("الموردين", "Index", "Suply_tbl")</li>
                    <li>@Html.ActionLink("المنتجات", "Index", "Product_Tble")</li>
                    <li>@Html.ActionLink("المشتريات", "Index", "Buy_tbl")</li>
                    <li>@Html.ActionLink("المبيعات", "Index", "Sal_tbl")</li>
                    <li>@Html.ActionLink("مردودات المبيعات", "Index", "Rsal_tbl")</li>
                    <li>@Html.ActionLink("المخزن", "Stock", "Product_Tble")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" align="right">
        @RenderBody()
        <hr />
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
